<!-- Begin: Page Footer -->
<footer id="content-footer">
    <div class="row">
        <div class="col-md-12">
            <span class="footer-legal">© <%= Time.now.strftime("%Y") %> Онлайн Автошкола</span>
        </div>
    </div>
</footer>
<!-- End: Page Footer -->