<%
   entity =  Feedback
   content_for :title, entity.signatures[:elements]
   breadcrumb :general, [[entity.signatures[:elements], 'blank']]

   links = [{
                    name: "<i class=\"octicon octicon-plus\"></i>&nbsp;&nbsp; #{entity.signatures[:add_element]}",
                    link: new_admin_feedback_url,
                    class: 'btn ladda-button btn-system'
            }]
   # links = []

   actions = [{
                      name: '<i class="fa fa-pencil"></i>',
                      link: 'edit_admin_feedback_path',
                      method: :get,
                      format: 'html',
                      class: 'btn-xs btn btn-system ',
                      exclusion: []
              },{
                      name: '<i class="octicon octicon-x"></i> ',
                      link: 'admin_feedback_path',
                      method: :delete,
                      format: 'json',
                      class: 'btn-xs btn btn-danger btn-row-delete',
                      exclusion: []
              }]


   table_data_attr = {
           sort_disable: -1,
           sort_column: 0,
           sort_default: 'asc',
           display_length: 25
   } %>

<%= render 'admin/_portlets/portlet',
           action: 'index',
           title: "<span class=\"glyphicon glyphicon-tasks\"></span> #{entity.signatures[:list_elements]}",
           links: links,
           data: @feedbacks,
           entity: entity,
           actions: actions,
           data_attr: table_data_attr %>