<div class="form-group">

    <%= render 'admin/_portlets/_tags/_label/default', field: field %>

	<div class="col-md-9">
		<div class="bs-component field">
			<!-- FIELD -->
			<%= f.select eval(":#{field[:machine]}"),
			             options_for_select( eval(field[:items]), eval("data.#{field[:machine]}.map{|d| d.id}") ),
			             {},
			             {:multiple => field[:options][:multiple], :class => 'form-control select2 admin-form__select2-multiple', :data => {:placeholder => field[:options][:prompt]}} %>

			<!-- TOOLTIP TEXT -->
			<% if field[:options][:tooltip_text] %>
				<b class="tooltip tip-left-top"><em> <%= field[:options][:tooltip_text] %> </em></b>
			<% end %>

			<!-- HELP TEXT -->
			<% if field[:options][:help_text] %>
				<span class="help-block mt5 mbn">&nbsp;<i class="fa fa-info-circle"></i> <%= raw field[:options][:help_text] %> </span>
			<% end %>
		</div>
	</div>
</div>